#! /bin/bash
#
# Purpose: perform GDAL commands for merging output for zachariae isstrom
# Author: Erik Loebel
# Last change: 2022-08-31
#
# ------------------------------------------

TEMP_FOLDER=$1
PRED_1=$2
PRED_2=$3
ID=$4

cd $TEMP_FOLDER
gdal_calc.py -A $PRED_1 --outfile=pred_north+10.tif --calc="A+10" --quiet
gdal_calc.py -A $PRED_2 --outfile=pred_south+10.tif --calc="A+10" --quiet
gdalbuildvrt -q -separate combined.vrt pred_north+10.tif pred_south+10.tif -overwrite
gdal_calc.py -A combined.vrt --A_band=1 -B combined.vrt --B_band=2 --calc="((A-10)+(B-10))/2" --outfile diff.tif --quiet
gdal_merge.py -q -o ../pred_${ID}.tif $PRED_1 $PRED_2 diff.tif -init 65535 -a_nodata 65535
cd ..

### vectorizing merged prediction ###
# coutour at 0,5
gdal_contour -q -b 1 -a ELEV -i 9999.0 -off 50.0 -f "ESRI Shapefile" pred_${ID}.tif ${TEMP_FOLDER}/calving_front_${ID}.shp -nln calfing_front_location -a threshold
#select longest linestring as calving front location
ogr2ogr -q -f "ESRI Shapefile" -dialect sqlite -sql "select * from calving_front_${ID} ORDER BY ST_NumPoints(geometry) DESC limit 1" calving_front_${ID}.shp ${TEMP_FOLDER}/calving_front_${ID}.shp

rm -r ${TEMP_FOLDER}
