#! /bin/bash
#
# Purpose: perform GDAL commands for merging output for hektoria-green-evans
# Author: Erik Loebel
# Last change: 2023-05-08
#
# ------------------------------------------

TEMP_FOLDER=$1
PRED_1=$2
PRED_2=$3
PRED_3=$4
PRED_4=$5
PRED_5=$6
PRED_6=$7
ID=$8

cd $TEMP_FOLDER
#echo $PRED_1

gdal_calc -A $PRED_1 --outfile=pred_a+10.tif --calc="A+10" --quiet
gdal_calc -A $PRED_2 --outfile=pred_b+10.tif --calc="A+10" --quiet
gdal_calc -A $PRED_3 --outfile=pred_c+10.tif --calc="A+10" --quiet
gdal_calc -A $PRED_4 --outfile=pred_d+10.tif --calc="A+10" --quiet
gdal_calc -A $PRED_5 --outfile=pred_e+10.tif --calc="A+10" --quiet
gdal_calc -A $PRED_6 --outfile=pred_f+10.tif --calc="A+10" --quiet
gdalbuildvrt -q -separate combined.vrt pred_a+10.tif pred_b+10.tif pred_c+10.tif pred_d+10.tif pred_e+10.tif pred_f+10.tif -overwrite
gdal_calc -A combined.vrt --A_band=1 -B combined.vrt --B_band=2 --calc="((A-10)+(B-10))/2" --outfile diff_ab.tif --quiet
gdal_calc -A combined.vrt --A_band=2 -B combined.vrt --B_band=3 --calc="((A-10)+(B-10))/2" --outfile diff_bc.tif --quiet
gdal_calc -A combined.vrt --A_band=3 -B combined.vrt --B_band=4 --calc="((A-10)+(B-10))/2" --outfile diff_cd.tif --quiet
gdal_calc -A combined.vrt --A_band=4 -B combined.vrt --B_band=5 --calc="((A-10)+(B-10))/2" --outfile diff_de.tif --quiet
gdal_calc -A combined.vrt --A_band=5 -B combined.vrt --B_band=6 --calc="((A-10)+(B-10))/2" --outfile diff_ef.tif --quiet
gdal_merge -q -o ../pred_${ID}.tif $PRED_1 $PRED_2 $PRED_3 $PRED_4 $PRED_5 $PRED_6 diff_ab.tif diff_bc.tif diff_cd.tif diff_de.tif diff_ef.tif -init 65535 -a_nodata 65535
cd ..

### vectorizing merged prediction ###
# coutour at 0,5
gdal_contour -q -b 1 -a ELEV -i 9999.0 -off 50.0 -f "ESRI Shapefile" pred_${ID}.tif TEMP/calving_front_${ID}.shp -nln calfing_front_location -a threshold
#select longest linestring as calving front location
ogr2ogr -q -f "ESRI Shapefile" -dialect sqlite -sql "select * from calving_front_${ID} ORDER BY ST_NumPoints(geometry) DESC limit 1" calving_front_${ID}.shp TEMP/calving_front_${ID}.shp

rm -r TEMP
